@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

:root {
    /* (main background) */
    --Very-dark-blue : hsl(233, 47%, 7%);
    /* (card background) */
    --Dark-desaturated-blue : hsl(244, 38%, 16%);
    /* (accent) */
    --Soft-violet : hsl(277, 64%, 61%);
    /* (main heading, stats) */
    --White: hsl(0, 0%, 100%);
    /* (main paragraph) */
    --Slightly-transparent-white : hsla(0, 0%, 100%, 0.75);
    /* (stat headings) */
    --Slightly-transparent-white : hsla(0, 0%, 100%, 0.6);

    --font-inter: 'Inter', sans-serif;
    /* - Weights: 400, 700 */
    --font-lexend: 'Lexend Deca', sans-serif;
    /* - Weights: 400 */
}

/* - Font size: 15px */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    width: 100vw;
    height: 100vh;
    font-size: 15px;
    position: relative;
    background-color: var(--Very-dark-blue);
}

.conteiner {
    display: grid;
    min-width: 375px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    background-color: var(--Dark-desaturated-blue);
}

.card-picture {
    background: var(--Soft-violet);
    height: 300px;
    border-radius: 10px 10px 0px 0px;
}

.overplay {
    background-image: url(../images/image-header-mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    opacity: .75;
    mix-blend-mode: multiply;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
}

.card {
    padding: 48px;
    text-align: center;
}

.card h1 {
    font-family: var(--font-inter);
    color: var(--White);
}

.card h1 span {
    color: var(--Soft-violet);
}

.card p {
    margin: 20px auto;
    color: var(--Slightly-transparent-white);
    font-family: var(--font-lexend);
    font-weight: 400;
    line-height: 20px;
}

.card ul {
    display: flex;
    flex-direction: column;
    font-family: var(--font-inter);
    font-weight: 700;
    color: var(--White);
}

.card ul li {
    margin: 20px 0px 0px 0px;
    font-size: 20px;
}

.card ul small {
    display: block;
    color: var(--Slightly-transparent-white);
    margin-top: 5px;
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;
}

@media screen and (min-width: 700px) {

    .conteiner {
        display: flex;
        min-width: 750px;
        position: absolute;
        flex-direction: row-reverse;
    }

    
}



